// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$color1: #f9fcfb;
$color2: #b0eacd;
$color3: #ea9a96;
$color4: #21bf73;
$color5: #303960;
$color6: #f8b24f;
