.btn-ghost {
  color: $color4;
  background-color: $color1;
  border: 1px solid $color4;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.1s ease;
}

.btn-ghost:hover {
  opacity: 1;
  border: 2px solid $color4;
}


