.form-input {
  margin: 20px auto;
  width: 600px;
}

.f-input {
  border: 1px solid $color4;
}

.string {
  color: $color4 !important;
  font-weight: light;
  font-family: Roboto;
}

.form-control {
  border: 1px solid $color4 !important;
}
