// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "banner";
@import "button";
@import "background";
@import "color_block";

// #main-container{
//   position:relative;
// }

// .container-content{
//   // position: relative;
// }


// .cocktail-name{
//   text-decoration: none !important;
//   font-family: Helvetica;
//   color: black;
// }

#add-cocktail {
  text-decoration: none !important;
  color: $color4 !important;
}

.cocktail-container a {
  list-style: none !important;
  text-decoration: none !important;
  color: $color2;
  &:hover {
    color: $color4 !important;
  }
}

// .link-style {
//   text-decoration: none;
//   font-family: Helvetica;
//   color: white;
// }


