#link-style a {
  color: $color5 !important;
  font-weight: bold;
  &:hover {
    color: $color3 !important;
  }
}

#link-style p {
  margin-top: 200px;
}

.cocktail-container a {
  list-style: none !important;
  font-family: Roboto;
  font-size: 62px;
  color: $color2;
  font-weight: bold;
  &:hover {
    color: $color4 !important;
  }
}

.links a {
  margin-right: 75px;
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  padding-left: 0px;
}

p, li {
  color: $color5;
}

.link-mt {
  position: absolute;
  margin-top: 20px;
}

.links {
  margin-top: 45px !important;
}

i {
  font-size: 10px;
}


